---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { projects } from "../../data/projects";
import ProjectTransition from "../../components/ProjectPage/ProjectTransition";

export const getStaticPaths = (() => {
  const paths = projects.map((project) => ({
    params: {
      projectLink: project.link,
    },
  }));
  return paths;
}) satisfies GetStaticPaths;
---

<Layout>
  <div class="grid grid-cols-[auto_1fr_1fr]">
    <div class="">Titre de la page</div>
    <div class="flex h-screen items-center justify-center">
      <ProjectTransition
        client:load
        project={projects.find(
          (project) => project.link === Astro.params.projectLink
        )}
      />
    </div>
    <div>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
      similique, animi eum sit hic asperiores non labore porro error cum beatae
      assumenda commodi autem, ex saepe delectus nesciunt quos sunt?
    </div>
  </div>
</Layout>
