---
import ProjectBento from "../components/HomePage/ProjectBento";
import { projects } from "../data/projects";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Emma Salin</h1>
  <div>
    <div></div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ad
        reiciendis eos consequatur, magnam quis veritatis animi voluptatibus. Id
        maxime eligendi unde impedit quas eius! Beatae neque maiores quasi quam!
      </p>
    </div>
  </div>
  <ProjectBento client:load projects={projects} />
</Layout>
